* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  margin: 10px;
}

h1 {
  display: flex;
  padding: 0 1rem;
  margin: 1rem;
}

h1::before,
h1::after {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("cake-slice.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 1rem;
}

.menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 1rem;
  margin: 0.1rem;
}

.line {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease-out;
}

body {
  background-color: antiquewhite;
}

main {
  margin-top: 5rem;
  display: flex;
}

nav {
  background-color: #f9bfa9;
  border-radius: 10px;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.nav-title {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
}

.nav-item {
  list-style: none;
  background-color: white;
  width: 12rem;
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.product-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-gap: 1.25rem;
  align-items: center;
}

.select-filter {
  display: flex;
  flex-direction: row;
}

.select-filter-item {
  display: flex;
  margin: 0.5rem 0.5rem;
  background-color: darksalmon;
  border-radius: 10px;
  padding: 0.5rem;
}

.select-filter-item-delete {
  margin: 0 0 0 0.5rem;
  border: none;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
}

.card-tagwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 100%;
}

.card-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 12rem;
  height: 4rem;
  padding: 0 0;
}

.card-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 0.625rem 0.3rem 0.625rem 0.3rem;
  height: 1.5rem;
  background-color: antiquewhite;
  border-radius: 0.625rem;
  padding: 0.5rem 0.5rem;
  font-weight: bolder;
}

.card-tags-add {
  position: relative;
  display: inline;
  border: none;
  background-color: transparent;
  align-self: center;
}

.card-like {
  border: none;
  background-color: transparent;
  align-self: flex-end;
}

.card-like i {
  font-size: 1.2rem;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal-tags {
  padding: 0 0;
}

.modal-tag {
  list-style: none;
  width: 12rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
